<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key> <string>PSGroupCell</string>
            <key>label</key> <string>全局开关</string>
        </dict>
        <dict>
            <key>cell</key> <string>PSSwitchCell</string>
            <key>default</key> <false/>
            <key>defaults</key> <string>com.iosdump.screenshotshell</string>
            <key>key</key> <string>Enabled</string>
            <key>label</key> <string>开启套壳功能</string>
            <key>PostNotification</key> <string>com.iosdump.screenshotshell/ReloadPrefs</string>
        </dict>
        
        <dict>
            <key>cell</key> <string>PSGroupCell</string>
            <key>label</key> <string>素材导入</string>
            <key>footerText</key> <string>请分别导入透明手机壳图片和对应的配置文件。图片决定外观，配置决定位置。</string>
        </dict>
        <dict>
            <key>cell</key> <string>PSButtonCell</string>
            <key>label</key> <string>1. 导入外壳图片 (.png)</string>
            <key>action</key> <string>chooseShellImage</string>
            <key>id</key> <string>shellImageBtn</string>
        </dict>
        <dict>
            <key>cell</key> <string>PSButtonCell</string>
            <key>label</key> <string>2. 导入配置文件 (.cfg)</string>
            <key>action</key> <string>importConfigFile</string>
            <key>id</key> <string>cfgFileBtn</string>
        </dict>
        
        <dict>
            <key>cell</key> <string>PSGroupCell</string>
            <key>footerText</key> <string>Developed by iosdump</string>
        </dict>
    </array>
    <key>title</key>
    <string>截图自动套壳</string>
</dict>
</plist>
